
select,button{
    // display: block;
    width: 100%;
}


.cont{
    display: flex;
    flex-direction: row;
}
.pre{
    width: 150px;
}
.check{

    width: 100%;
}
.bnt{
    width: 10%;
}
a {color: rgb(233, 234, 238);
    text-decoration: none;
}